// #include <nordic/nrf52840_qiaa.dtsi>



#include "nhkb-pinctrl.dtsi"

/ {
    chosen {
        zephyr,display = &oled;
        zmk,battery = &vbatt;
        zmk,underglow = &led_strip;
    };
    leds {
        compatible = "gpio-leds";
        blue_led: led_0 {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
        };
    };
    // Node name must match original "EXT_POWER" label to preserve user settings.
    EXT_POWER {
        compatible = "zmk,ext-power-generic";
        control-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 2>;
        output-ohms = <2000000>;
        full-ohms = <(2000000 + 806000)>;
    };
};