// #include <nordic/nrf52840_qiaa.dtsi>




/ {
    chosen {
        zephyr,display = &oled;
        zmk,battery = &vbatt;
        zmk,underglow = &led_strip;
    };
    
    // Node name must match original "EXT_POWER" label to preserve user settings.
    

    
};